@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", "sans-serif";
  background-color: #fff;
  overflow: scroll;

  /* use this one to see the layout more easily while coding */
  /* background-color: blue; */
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-column: 1 / -1;
  grid-row: 1 / 2;

  background-image: url(./images/party.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 15rem;
}

.hero h1 {
  display: flex;
  padding-left: 0.2em;
  font-size: 4rem;
  font-family: "K2D", sans-serif;
  color: black;
}

.hero ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding-right: 2em;
  gap: 1em;
}

.hero a {
  font-size: 2rem;
  color: black;
}

.hero a:hover {
  color: white;
}

/* MENU SECTION */

.container .menu {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: darkturquoise;
  grid-column: 1 / -1;
  grid-row: 2;
  gap: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.container .menu a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-family: "Bebas Neue", cursive;
}

.container .menu a:hover {
  color: white;
}

/* CONTENT SECTION */

.contact-information {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 12;
  grid-row: 3;
  gap: 0.5em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.contact-information p {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-size: 1.75em;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / 12;
  grid-row: 4;
  justify-content: center;
  gap: 1em;
}

.email {
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.phone {
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.name {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / 12;
  grid-row: 5;
  justify-content: center;
  justify-self: center;
  padding-top: 1em;
  gap: 1em;
}

.firstname {
  text-align: center;
}

.lastname {
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.address-1 {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / 12;
  grid-row: 6;
  justify-content: center;
  justify-self: center;
  padding-top: 1em;
  gap: 1em;
}

.address-2 {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / 12;
  grid-row: 7;
  justify-content: center;
  justify-self: center;
  padding-top: 1em;
  gap: 1em;
}

.country {
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.postal {
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.city {
  text-align: center;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.street {
  text-align: center;
}

.house {
  text-align: center;
}

.payment-options {
  font-family: "Bebas Neue", cursive;
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / 12;
  grid-row: 8;
  justify-content: center;
  font-size: 1.75em;
  padding-top: 2em;
  padding-bottom: 0.5em;
}

.payment-links {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2 / 12;
  grid-row: 9;
  justify-content: center;
  gap: 2em;
  padding-top: 1em;
}

.payment-links img {
  width: 5em;
}

.payment-links a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

.save-button {
  display: flex;
  justify-content: center;
  grid-column: 2 / 12;
  grid-row: 10;
  padding-top: 1em;
  padding-bottom: 2em;
}

.go-to-checkout {
  width: 20em;
  height: 4rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(82, 208, 36);
  cursor: pointer;
  box-shadow: 0 0.5rem 0 0 rgb(24, 153, 22);
}

.go-to-checkout:hover {
  background-color: rgb(117, 231, 76);
}

.go-to-checkout:active {
  transform: translate(0.25rem);
  box-shadow: 0 0.2rem 0 0 rgb(19, 119, 17);
}

.go-to-checkout p {
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
}

/* FOOTER SECTION */

/* https://www.geeksforgeeks.org/how-to-create-footer-to-stay-at-the-bottom-of-a-web-page/ */

.footer {
  grid-column: 1 / -1;
  grid-row: 12;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;

  /* grid-column: 1 / -1;
  grid-row: 20; */
  background-color: darkturquoise;
}

.footer p {
  padding-left: 0.5em;
  font-size: 1.5rem;
}

.footer ul a {
  color: black;
  padding-right: 0.5em;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer ul a:hover {
  color: white;
}

.footer ul li {
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero a {
    font-size: 1.5rem;
  }

  .container .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .container .menu a {
    font-size: 1rem;
  }

  .infobox {
    display: flex;
    flex-direction: column;
    grid-column: 1/ -1;
    grid-row: 5;
    padding-top: 1em;
    padding-left: 1em;
    gap: 1rem;
  }
  .infobox h2 {
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
    font-size: 2rem;
  }

  .infobox p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 6 / 12;
    /* justify-content: space-between; */
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    padding-bottom: 2.5rem;
    /* height: 500px; */
  }
  section img {
    max-width: 350px;
  }

  section a {
    padding: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
  }

  section p {
    font-size: 1.5rem;
  }

  .footer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }

  .footer p {
    font-size: 1.5rem;
    padding-left: 0.5em;
  }

  .container .footer ul a {
    font-size: 1.5rem;
    padding-right: 0.5em;
    color: black;
    flex-direction: row;
    text-decoration: none;
  }

  .container .footer ul li {
    list-style-type: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero a {
    font-size: 2rem;
  }

  .container .menu {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  .container .menu a {
    font-size: 1.5rem;
  }

  .content2 p {
    font-size: 1.5rem;
    padding-left: 1em;
  }
  .content2 a {
    text-decoration: none;
    color: yellow;
    font-size: 1.5rem;
    padding-left: 1em;
  }

  .footer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }

  .footer p {
    font-size: 1.5rem;
    padding-left: 0.5em;
  }

  .container .footer ul a {
    font-size: 1.5rem;
    padding-right: 0.5em;
    color: black;
    flex-direction: row;
    text-decoration: none;
  }
}
