@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", "sans-serif";
  background-color: white;
  overflow: scroll;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-column: 1 / -1;
  grid-row: 1 / 4;

  background-image: url(./images/party.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.hero h1 {
  display: flex;
  padding-left: 0.2em;
  font-size: 4rem;
}

.hero ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding-right: 2em;
  gap: 1em;
}

.hero a {
  font-size: 2rem;
  color: black;
}

.hero a:hover {
  color: yellow;
}

/* MENU SECTION */

.container .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: darkturquoise;
  grid-column: 1 / -1;
  grid-row: 4;
  
}
.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    transition: 0,3s;
}

.links li {
    list-style-type: none;
}
.links li a {
display: flex;
flex-direction: row;
align-items: center;
text-decoration: none;
padding: 0 1rem 0 1rem;
color: black;
}

.links li a:hover {
color: #fff;
}

/* hamburger menu design and animation */
.hamburger{
    position: relative;
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 1px;
    cursor: pointer;
    z-index: 2;
    transition: 0,3s;
}
.hamburger:before,
.hamburger:after {
content: "";
position: absolute;
height: 4px;
right: 0;
background: white;
border-radius: 10px;
transition: 0,3s;
}

.hamburger:before{
    top: -10px;
    width: 20px;
}
.hamburger:after{
    top: 10px;
    width: 25px;
}
.toggle-links{
    position: relative;
    width: 30px;
    height: 100%;
    z-index: 3;
    left: 30px;
    cursor: pointer;
    opacity: 20%;
}
/* .hamburger,
.toggle-links{
    display: none;
} */

.menu input:checked ~ .hamburger{
    background: transparent;
}

.menu input:checked ~ .hamburger:before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.menu input:checked ~ .hamburger:after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.menu input:checked ~ .links{
    right: 0;
}

/* .container .menu ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.container .menu a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  list-style-type: none;
  display: block;
}

.container .menu a:hover {
  background-color: crimson;
} */

/* CONTENT SECTION */

.elephantimages {
  grid-column: 2 / 6;
  grid-row: 6 / 14;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1em;
}

.bigelephantimg {
  max-width: 450px;
}
.smallelephant {
  padding-left: 1rem;
  padding-right: 1rem;
}
.smallelephantimg {
  max-width: 80px;
}

.textarea {
  background-color: gainsboro;
  grid-column: 8 / -1;
  grid-row: 5 / 16;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 5rem 0 0 0;
}
.cute {
  padding-top: 1rem;
}

.hearticon {
  padding-top: 2rem;
}

.textarea p {
  font-size: 20pt;
  padding-left: 2em;
  padding-right: 2em;
}

.textarea h2 {
  font-size: 26pt;
}

.textarea h3 {
  padding-top: 0.5rem;
  font-size: 22pt;
}

.shoppingcartbutton {
  position: relative;
  top: 4rem;
  width: 20rem;
  height: 3rem;
  border-radius: 1rem;
  outline: 0;
  border: 0;
  background-color: darkturquoise;
  cursor: pointer;
}
.shoppingcartbutton p {
  font-size: 20pt;
}

/* FOOTER SECTION */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;

  grid-column: 1 / -1;
  grid-row: -1;
  background-color: darkturquoise;
}

.footer p {
  padding-left: 0.5em;
  font-size: 1.5rem;
}

.footer ul a {
  color: black;
  padding-right: 0.5em;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer ul a:hover {
  color: yellow;
}

.footer ul li {
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero a {
    font-size: 1.5rem;
  }

  /* .menu{
    

  } */
  .hamburger,
  .toggle-links{
    display: block;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .links {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: -100%;
    top: 150px;
    background-color: rgba(0, 0, 255, 0.289);
    width: 100%;
    /* padding-top: 50px; */
  }

  .links li {
    width: 100%;
  }

  /* .container .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
  }

  .container .menu a {
    font-size: 1rem;
  } */

  .elephantimages {
    grid-column: 1 / -1;
    grid-row: 5 / 8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1rem;
    /* align-items: center; */
  }

  .bigelephantimg {
    max-width: 400px;
  }
  .smallelephant {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .smallelephantimg {
    max-width: 60px;
  }

  .textarea {
    background-color: gainsboro;
    grid-column: 1 / -1;
    grid-row: 8 / 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 8em;
    padding-left: 2em;
    padding-right: 2em;
    /* justify-content: center; */
  }

  .textarea p {
    font-size: 1rem;
  }

  .textarea h2 {
    font-size: 2rem;
  }

  .textarea h3 {
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  .cute {
    font-size: 1.5rem;
    padding-top: 2rem;
  }

  .hearticon {
    padding-top: 2rem;
  }

  .shoppingcartbutton {
    position: relative;
    width: 14rem;
    height: 3rem;
    border-radius: 1em;
    outline: 0;
    border: 0;
    background-color: rgb(182, 204, 244);
    cursor: pointer;
  }
  .shoppingcartbutton p {
    font-size: 1.5rem;
  }

  .footer {
    display: flex;
    flex-direction: row;
    grid-column: 1 / -1;
    grid-row: 12;

    justify-content: space-between;
    align-items: center;
  }

  .footer p {
    font-size: 1rem;
    padding-left: 0.5em;
  }

  .container .footer ul a {
    font-size: 1rem;
    padding-right: 0.5em;
    color: black;
    flex-direction: row;
    text-decoration: none;
  }

  .container .footer ul li {
    list-style-type: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fill, minmax (150px, 1fr));
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-column: 1 / -1;
    grid-row: 1 / 2;

    background-image: url(./images/party.jpg);
    background-size: cover;
    background-position: center;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero a {
    font-size: 2rem;
    color: black;
  }

  .container .menu {
    display: flex;
    justify-content: center;
    grid-row: 2 / 3;
    gap: 0.8em;
  }

  .container .menu a {
    font-size: 1.5rem;
  }

  .elephantimages {
    grid-column: 6;
    grid-row: 3 / 10;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1rem;
  }

  .bigelephantimg {
    max-width: 450px;
  }
  .smallelephant {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .smallelephantimg {
    max-width: 80px;
  }

  .textarea {
    background-color: gainsboro;
    grid-column: 1 / -1;
    grid-row: 10 / 16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 8em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .textarea p {
    font-size: 16pt;
  }

  .textarea h2 {
    font-size: 24pt;
  }

  .textarea h3 {
    font-size: 20pt;
    padding-top: 1rem;
  }

  .cute {
    font-size: 1.5rem;
    padding-top: 2rem;
  }

  .hearticon {
    padding-top: 2rem;
  }

  .footer {
    grid-row: -1;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }

  .footer p {
    font-size: 16pt;
    padding-left: 0.5em;
  }

  .container .footer ul a {
    font-size: 16pt;
    padding-right: 0.5em;
    color: black;
    flex-direction: row;
    text-decoration: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fill, minmax (150px, 1fr));
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero a {
    font-size: 2rem;
  }

  .container .menu {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  .container .menu a {
    font-size: 1.5rem;
  }

  .elephantimages {
    grid-column: 1 / 6;
    grid-row: 5 / 16;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1rem;
    /* align-items: center; */
  }

  .bigelephantimg {
    max-width: 400px;
  }
  .smallelephant {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .smallelephantimg {
    max-width: 60px;
  }

  .textarea {
    background-color: gainsboro;
    grid-column: 7 / -1;
    grid-row: 5 / 16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 8em;
    padding-left: 2em;
    padding-right: 2em;
    /* justify-content: center; */
  }

  .textarea p {
    font-size: 1.5rem;
  }

  .textarea h2 {
    font-size: 2.5rem;
  }

  .textarea h3 {
    font-size: 2rem;
    padding-top: 1rem;
  }

  .cute {
    font-size: 1.5rem;
    padding-top: 2rem;
  }

  .hearticon {
    padding-top: 2rem;
  }

  .footer {
    display: flex;
    flex-direction: row;
    grid-row: -1;
    justify-content: space-between;
    align-items: center;
  }

  .footer p {
    font-size: 1.5rem;
    padding-left: 0.5em;
  }

  .container .footer ul a {
    font-size: 1.5rem;
    padding-right: 0.5em;
    color: black;
    flex-direction: row;
    text-decoration: none;
  }
}
