@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", "sans-serif";
  background-color: white;
  overflow: scroll;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* HERO SECTION */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  grid-column: 1 / -1;
  grid-row: 1 / 3;

  background-image: url(./images/party.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 15rem;
}

.hero h1 {
  display: flex;
  padding-left: 0.2em;
  font-size: 4rem;
  font-family: "K2D", sans-serif;
  color: black;
}

.hero ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding-right: 2em;
  gap: 1em;
}

.hero a {
  font-size: 2rem;
  color: black;
}

.hero a:hover {
  color: white;
}

/* MENU SECTION */

.container .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: darkturquoise;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  gap: 2rem;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.container .menu a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-family: "Bebas Neue", cursive;
}

.container .menu a:hover {
  color: white;
}

/* CONTENT SECTION */

.elephantimages {
  grid-column: 2 / 6;
  grid-row: 5 / 11;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bigelephantimg {
  max-width: 450px;
}
.smallelephant {
  padding-left: 1rem;
  padding-right: 1rem;
}
.smallelephantimg {
  max-width: 80px;
}

.textarea {
  background-color: gainsboro;
  grid-column: 8 / -1;
  grid-row: 4 / 12;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
}

.cute {
  padding-top: 1rem;
}

.hearticon {
  padding-top: 1em;
  padding-bottom: 1em;
}

.textarea p {
  font-size: 2rem;
  padding-left: 2em;
  padding-right: 2em;
}

.textarea h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
}

.textarea h3 {
  padding-top: 0.5rem;
  font-size: 2.5rem;
}

.shoppingcartbutton {
  width: 20em;
  height: 4rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(82, 208, 36);
  cursor: pointer;
  box-shadow: 0 0.5rem 0 0 rgb(24, 153, 22);
}

.shoppingcartbutton:hover{
  background-color: rgb(117, 231, 76);

}

.shoppingcartbutton:active{
transform: translate(0.25rem);
box-shadow: 0 0.2rem 0 0 rgb(19, 119, 17);
}
.shoppingcartbutton p {
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
  font-size: 1.75rem;
}

/* FOOTER SECTION */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;

  grid-column: 1 / -1;
  grid-row: 12;
  background-color: darkturquoise;
}

.footer p {
  padding-left: 0.5em;
  font-size: 1.5rem;
}

.footer ul a {
  color: black;
  padding-right: 0.5em;
  text-decoration: none;
  font-size: 1.5rem;
}

.footer ul a:hover {
  color: white;
}

.footer ul li {
  list-style-type: none;
}

@media screen and (max-width: 480px) {
  .container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero a {
    font-size: 1.5rem;
  }
  
  .container .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    height: 3.2rem;
  }

  .container .menu a {
    font-size: 1rem;
  }

  .elephantimages {
    grid-column: 1 / -1;
    grid-row: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1rem;
  }

  .bigelephantimg {
    max-width: 400px;
  }
  .smallelephant {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .smallelephantimg {
    max-width: 90px;
  }

  .textarea {
    grid-column: 1 / -1;
    grid-row: 5 / 11;
    display: flex;
    padding-bottom: 4em;
  }

  .textarea p {
    font-size: 1.5rem;
  }

  .textarea h2 {
    font-size: 2.5rem;
  }

  .textarea h3 {
    font-size: 1.5rem;
  }

  .cute {
    font-size: 1.5rem;
  }

  .hearticon {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .footer {
    display: flex;
    flex-direction: row;
    grid-column: 1 / -1;
    grid-row: 12;

    justify-content: space-between;
    align-items: center;
  }

  .footer p {
    font-size: 1rem;
    padding-left: 0.5em;
  }

  .container .footer ul a {
    font-size: 1rem;
    padding-right: 0.5em;
    color: black;
    flex-direction: row;
    text-decoration: none;
  }

  .container .footer ul li {
    list-style-type: none;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto-fill, minmax (150px, 1fr));
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-column: 1 / -1;
    grid-row: 1 / 2;

    background-image: url(./images/party.jpg);
    background-size: cover;
    background-position: center;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero a {
    font-size: 2rem;
    color: black;
  }

  .container .menu {
    display: flex;
    justify-content: center;
    grid-row: 2 / 3;
    gap: 0.8em;
  }

  .container .menu a {
    font-size: 1.5rem;
  }

  .elephantimages {
    grid-column: 6;
    grid-row: 3 / 10;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1rem;
  }

  .bigelephantimg {
    max-width: 450px;
  }
  .smallelephant {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .smallelephantimg {
    max-width: 80px;
  }

  .textarea {
    background-color: gainsboro;
    grid-column: 1 / -1;
    grid-row: 10 / 16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 8em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .textarea p {
    font-size: 16pt;
  }

  .textarea h2 {
    font-size: 24pt;
  }

  .textarea h3 {
    font-size: 20pt;
    padding-top: 1rem;
  }

  .cute {
    font-size: 1.5rem;
    padding-top: 2rem;
  }

  .hearticon {
    padding-top: 2rem;
  }

  .footer {
    grid-row: -1;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
  }

  .footer p {
    font-size: 16pt;
    padding-left: 0.5em;
  }

  .container .footer ul a {
    font-size: 16pt;
    padding-right: 0.5em;
    color: black;
    flex-direction: row;
    text-decoration: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero a {
    font-size: 2rem;
  }

  .container .menu {
    display: flex;
    justify-content: center;
    gap: 2em;
  }

  .container .menu a {
    font-size: 1.5rem;
  }

  .elephantimages {
    grid-column: 1 / 6;
    grid-row: 5 / 16;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1rem;
  }

  .bigelephantimg {
    max-width: 400px;
  }
  .smallelephant {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .smallelephantimg {
    max-width: 60px;
  }

  .textarea {
    background-color: gainsboro;
    grid-column: 7 / -1;
    grid-row: 5 / 16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 8em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .textarea p {
    font-size: 1.5rem;
  }

  .textarea h2 {
    font-size: 2.5rem;
  }

  .textarea h3 {
    font-size: 2rem;
    padding-top: 1rem;
  }

  .cute {
    font-size: 1.5rem;
    padding-top: 2rem;
  }

  .hearticon {
    padding-top: 2rem;
  }

  .footer {
    display: flex;
    flex-direction: row;
    grid-row: -1;
    justify-content: space-between;
    align-items: center;
  }

  .footer p {
    font-size: 1.5rem;
    padding-left: 0.5em;
  }

  .container .footer ul a {
    font-size: 1.5rem;
    padding-right: 0.5em;
    color: black;
    flex-direction: row;
    text-decoration: none;
  }
}
